html {
  width: 100%;
}
body {
  width: 94%;
  margin: 40px 3%;
}
.main-grid {
  margin: 0 5%;
}
.round-borders {
  border-radius: 5px;
  border: solid black 1px;
  margin: 7px 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.inner-grid {
  margin-right: 50px;
  margin-left: 75px;
  background-color: red;
}
.ssa-main-map {
  width: 100%;
}
.ui-autocomplete {
  max-height: 280px;
  overflow-y: auto;
}
.corridor-data-container {
  display: block;
}
